@model IEnumerable<Yurivisa_v2._1.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Object)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Object)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Object }) |
            @Html.ActionLink("Details", "Details", new { id = item.Object }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Object })
        </td>
    </tr>
}

</table>
